<div class="container mx-auto px-4">
            <div class="text-center mb-16" data-aos="fade-up">
                <h2 class="text-4xl font-bold mb-2 glow">
                    <span class="text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-purple-500">EXPERIENCIA</span>
                </h2>
                <div class="w-24 h-1 bg-gradient-to-r from-blue-500 to-purple-500 mx-auto"></div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-1 gap-8">
                <div class="timeline-item" data-aos="fade-up" data-aos-delay="100">
                    <div class="neon-border rounded-lg p-6 backdrop-blur-sm bg-opacity-30 bg-black">
                        <h3 class="text-xl font-bold mb-1 text-blue-400">Desarrollador FullStack Junior</h3>
                        <p class="text-sm text-purple-300 mb-3">2024 - Presente</p>
                        <ul>
                            <li>
                                <span class="font-semibold text-blue-400">Empresa:</span> Complementos Humanos S.A.
                            </li>
                        </ul>
                        <p class="text-gray-300">Participación activa en el desarrollo y mantenimiento de las aplicaciones. Gestión de bases de datos y participación en las interfaces front-end con diferentes frameworks</p>
                        <h4 class="font-semibold text-blue-400 mt-4">Tecnologias:</h4>
                        <div class="flex flex-wrap gap-2 mt-4">
                        <!-- AQUI VAN A IR LOS ICONOS -->
                            <svg class="icon-technology" data-tippy-content="HTML">
                                <use href="#icon-html5"></use>
                            </svg>
                            <svg class="icon-technology" data-tippy-content="CSS">
                                <use href="#icon-css"></use>
                            </svg>
                            <svg class="icon-technology" data-tippy-content="JavaScript">
                                <use href="#icon-javascript"></use>
                            </svg>
                            <svg class="icon-technology" data-tippy-content="Vue">
                                <use href="#icon-vue"></use>
                            </svg>
                            <svg class="icon-technology" data-tippy-content="PHP">
                                <use href="#icon-php"></use>
                            </svg>
                            <svg class="icon-technology" data-tippy-content="SQL Server">
                                <use href="#icon-sql-server"></use>
                            </svg>
                            <svg class="icon-technology" data-tippy-content="Docker">
                                <use href="#icon-docker"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <!-- AQUI VA MAS EXPERIENCIA --> 
                <!-- <div class="timeline-item" data-aos="fade-up" data-aos-delay="200">
                </div> -->
                <!-- AQUI VA MAS EXPERIENCIA -->
            </div>
        </div>