---
import Hero from './Hero.astro'
import Experience from './Experience.astro'
import Projects from './Projects.astro'
---
<main>
    <section id="hero" class="section relative flex items-center min-h-screen pt-20">
        <Hero />
    </section>

    <section id="experiencia" class="section bg-opacity-70 bg-gray-900">
        <Experience />
    </section>

    <section id="proyectos" class="section">
        <Projects />
    </section>
</main>

    