---
import "../styles/global.css";
import Icons from "../components/Icons.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/portafolio.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Santiago Orrego Toro</title>
  </head>
  <body class="relative">
    <div id="preloader" class="preloader">
      <div class="preloader-content text-center">
        <h2 class="text-3xl font-bold mb-2 futuristic-text">
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-purple-500"
            >CARGANDO</span
          >
        </h2>
        <div class="loading-bar-container">
          <div id="loading-bar" class="loading-bar"></div>
        </div>
      </div>
    </div>
    <Icons />
    <slot />

    <script>
      import "@js/Main.js";
    </script>
  </body>
</html>
